.card-container {
  min-width: 20rem;
  width: 20rem;
  height: 30rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px var(--shadow-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s, color 0.3s;
}

.card-container:hover {
  transform: scale(1.02);
}

.card-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 75%;
  width: 100%;
  object-fit: cover;
  background-color: var(--border-color);
}

.card-content {
  padding: 0rem 1rem;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: var(--footer-text);
}

.card-meta p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 300;
  /* margin-bottom: 0.5rem; */
  color: var(--card-text);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}