.hero-container {
    width: 100vh;
    height: 75vh;
    margin-bottom: 5rem;
    position: relative;
}

/* Hero Text Box */
.hero-text {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translateX(-50%);
    background: transparent;
    border-radius: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
    z-index: 10;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Main Title */
.hero-title {
    font-size: 3.5rem;
    font-family:'Courier New', Courier, monospace;
    color: var(--heading-color);
}

/* Subtitle */
.hero-subtitle {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: var(--subtext-color);
}

/* Surprise Button */
.hero-button {
    padding: 0.5rem 1rem;
    background-color: var(--button-primary);
    color: var(--button-submit);
    border-radius: 0.375rem;
    margin-left: 12rem;
    display: flex;
    gap: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transition: 1s;
}

.hero-button:hover {
    background-color: var(--button-hover);
    color: white;
}

/* Right Section (Create & Organize) */
.hero-actions {
    position: absolute;
    top: 33%;
    right: -80%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border-radius: 0.75rem;
    /* color: var(--text-primary); */
    z-index: 10;
}

.hero-actions div {
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.hero-actions div link {
    text-decoration: none;
}

/* ----------------------------------------------- */
  
.action-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: var(--border-color);
}

.action-item:hover {
    background-color: transparent;
}

.icon {
    margin-right: 8px;
}

.link {
    text-decoration: none;
    color: var(--body-color);
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

/* ----------------------------------------------- */

/* 3D Model Canvas */
.hero-canvas {
    position: absolute;
    transform: scale(1.5);
    transform: translate(45%, 10%);
    z-index: -99;
    /* color: rgba(255, 0, 0, 0); */
}
